:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --white: #FFF;
    --ocean: #404BBF;
}

p,
body {
    /* Body */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}
.web-header {
    /* Typography */
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studio-header {
    /* Typography */
    color: var(--navyblue, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web-footer {
    /* Typography */
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studio-footer {
    /* Typography */
    color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;/* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-description {
    color: var(--cloud, #F4F4FD);
}

.nav-links a:hover{
    color: var(--iris, #4D5AE5);
}

.nav-links a:active {
    color: var(--iris, #4D5AE5);
}

.nav-links a:focus {
    color: var(--iris, #4D5AE5);
}

.nav-links a {
    color: var(--navyblue, #2E2F42);
}

.contacts a:hover {
    color: var(--iris, #4D5AE5);
}

.contacts a:active {
    color: var(--iris, #4D5AE5);
}

.contacts {
    color: var(--slate, #434455);
}

.hero {
    background: var(--navyblue, #2E2F42);
}

.hero-heading {
    color: var(--white, #FFF);
    text-align: center;
}

h1 {
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
}

.feature-title{
    color: var(--navyblue, #2E2F42);
}

.card-body-name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
}

.card-body-description {
    color: var(--slate, #434455);
    text-align: center;
}

h3 {
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.feature-description {
    color: var(--slate, #434455);
}



button {
    /* Layut */
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    /* Style */
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

button:hover {
    cursor: pointer;
    background: var(--ocean, #404BBF);
}

.order-btn {
    color: var(--white, #FFF);
    
    /* Button Text */
    /* font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    /* 150% */
    /* letter-spacing: 0.64px; */
    /* Layout */
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    /* Style */
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-btn:focus {
    background: var(--ocean, #404BBF);
}

.order-btn:active {
    background: var(--ocean, #404BBF);
}

.sub-header {
    color: var(--navyblue, #2E2F42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.dark-bg-1 {
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}

.dark-bg-2 {
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}


/* PORTFOLIO */


.filter-btn {
    /* Layout */
    /* display: flex;
    padding: 12px 24px;
    align-items: flex-start; */
    /* Typography */
    /* border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10); */
}

.filter-btn > li > button {
    color: var(--white, #FFF);
    text-align: center;

    /* Button Text */
    /* font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; */
    /* 150% */
    /* letter-spacing: 0.64px; */
}

.project-card-title {
    color: var(--navyblue, #2E2F42);
}

.project-card-detail {
    color: var(--slate, #434455);
}